<h3><%= @landmark.name %></h3>

<img src="<%= @landmark.photo_url %>" alt="<%= @landmark.name%> photo">

<h5>Location: <%= @landmark.location %></h5>
<h5>Agency: <%= @landmark.agency %></h5>

<br>

<h4>Posts for <%= @landmark.name %></h4>
<h5><%= link_to "(+) New Post", new_landmark_post_path(@landmark)%></h5>

<p>
  <% if @landmark.posts.count == 0 %>
    <div class="no-posts">No Posts for <%= @landmark.name %></div>
  <% else %>
    <% @landmark.posts.each do |post| %>
      <div><%= link_to post.title, landmark_post_path(@landmark, post) %></div>
    <% end %>
  <% end %>
</p>

<br>

<div class="bottom-nav">
 <%= link_to "Return to All Landmarks", landmarks_path %>
</div>
