<h3>Update "<%= @post.title %>" Post</h3>

<%= form_for [@neighborhood, @post] do |f| %>
  <div class="form-elements">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="form-elements">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-elements">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="form-elements">
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </div>

  <div class="form-elements">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="form-elements">
    <%= f.label :inquiry_type %>
    <%= f.select :inquiry_type, options_for_select(["accessibility", "aesthetics", "public health", "public safety"]) %>
  </div>

  <div class="form-elements">
    <%= f.submit %>
  </div>
<% end %>

<div class="bottom-nav">
  <%= link_to "Return to #{@neighborhood.name}", neighborhood_path(@neighborhood) %>
</div>
