<h3><%= @post.title %></h3>

<h4>submitted by: <%= @post.author %></h4>
<h4>regarding: <%= @landmark.name %></h4>
<h4>type of inquiry: <%= @post.inquiry_type %></h4>

<img src="<%= @post.photo_url %>">

<div class="post-content">
  <h4><%= @post.content %></h4>
</div>

<%= link_to "Edit Post", edit_landmark_post_path(@landmark, @post)%> ||
