<h3><%= @post.title %></h3>

<h4>submitted by: <%= @post.author %></h4>
<h4>neighborhood: <%= @neighborhood.name %></h4>
<h4>type of inquiry: <%= @post.inquiry_type %></h4>

<img src="<%= @post.photo_url %>">

<div class="post-content">
  <h4><%= @post.content %></h4>
</div>

<div class="bottom-nav">
    <%= link_to "Edit Post", edit_neighborhood_post_path(@neighborhood, @post)%> ||
    <%= link_to "Delete Post", neighborhood_post_path(@neighborhood, @post), method: :delete %>
  <br>
    <%= link_to "Return to #{@neighborhood.name}", neighborhood_path(@neighborhood) %>
</div>
