<div class="title-banner"> 
    <img src="<%= @neighborhood.photo_url %>" alt="<%= @neighborhood.name %> photo" class="neighborhood-post-photo">
    <div class="citizen-voices-title">
      <h3>Citizen Voices of</h3>
      <h3 id="name"><%= @neighborhood.name %></h3>
    </div>
    <h5 id="quadrant">Quadrant: <%= @neighborhood.quadrant %></h5>
</div>


<div class="page-content-container">
    <h3>
      <% if @neighborhood.posts.count == 0 %>
        <div class="no-posts">No Posts Yet for <%= @neighborhood.name %></div>
      <% else %>
        <% @neighborhood.posts.each do |post| %>
          <div class="hood-post">
            <h4>"<%= post.title %>"</h4>
            <h5><%= link_to "View This Post", neighborhood_post_path(@neighborhood, post) %></h5>
          </div>
        <% end %>
      <% end %>
    </h3>

    <div class="post-here">
      <% if !current_user %>
        <%= link_to "Log In to Post Your Input", new_user_session_path %>
      <% else %>
        <%= link_to "Post Your Input", new_neighborhood_post_path(@neighborhood)%>
      <% end %>
    </div>

</div>
