<!DOCTYPE html>
<html>
  <head>
    <title>Citizen Driven</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type='text/javascript' src='config.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=" + config.API_KEY ></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Sans" rel="stylesheet">
  </head>

  <body>
    <nav>
        <% if !current_user %>
          <p><%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %></p>
        <% else %>
          <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
        <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>

    <div class="inner-body">
      <header>
        <h1><a href="/neighborhoods" class="citizen-driven">CITIZEN <img src="http://open.dc.gov/open-source-guidelines/assets/img/dc_logo.png" alt="" class="dc-flag"> DRIVEN</a></h1>
        <p class="tagline">Bringing Voice to the Community</p>
      </header>

      <%= yield %>
      <br>
      <br>
    </div>

    <footer>
      <%= link_to "Return Home", pages_path %>
       <!-- | <%= link_to "Learn More", neighborhoods_path %> -->
    </footer>

  </body>
</html>
