<!DOCTYPE html>
<html>
  <head>
    <title>Community Improvement App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if !current_user %>
        <p><%= link_to "Sign Up", new_user_registration_path %> || <%= link_to "Sign In", new_user_session_path %></p>
      <% else %>
        <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>

    <header>
      <h1><%= link_to "Community Improvement App", neighborhoods_path %></h1>
      <p class="tagline">Change starts with YOU.</p>
    </header>

    <%= yield %>
    <br>
    <br>
    <footer><%= link_to "Return Home", neighborhoods_path %>  <%= link_to "Learn More", neighborhoods_path %></footer>
  </body>
</html>
