<!DOCTYPE html>
<html>
  <head>
    <title>Community Improvement App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Community Improvement App</h1>
      <p class="tagline">Change starts with YOU.</p>
    </header>

    <%= yield %>
    <br>
    <br>
    <p><%= link_to "Return Home", landmarks_path %>  <%= link_to "Learn More", landmarks_path %></p>
  </body>
</html>
